h1{    
               font-size: 600px;
                 color: #C0CA33;
}
  

#special {
                 font-size: 40px;
                    color: #FF6F00;
}
 
img {
          height: 25%;
           weidght: auto;
}